<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Browsersync, Gulp + Swig templates</title>
    <link rel='stylesheet' href='css/main.css'>
</head>
<body>
<h1>$data.title!</h1> ok ähh?see juu töötab 1122
</body>
</html>